h1 {
    color: hotpink;
}
h2{
    color: hotpink;
}
h3{
    color: hotpink;
}
h4 {
    color: hotpink;
}

body {
    background-color: lavender;

    text-align: center;
}
.imagem1 {
    width: 40%;
}
.imagemcentralizada {
 text-align: center;
}

.unicornio {
    font-style: initial;

}
.brilho {
   color: deeppink;
    font-style: italic
}
.lista {
        display: inline-block;
        padding: 5%;
        margin-right: 10%;
        color: fuchsia;
        padding: 5%;
        border-color: pink;
        border-width: 20px;
        border-style: solid;
        border-radius: 12px 50px 2px 120px;
    }

nav a{
    text-transform: uppercase;
    text-align: center;
    color: darkorchid;
    font-weight: 300;
    font-size: 100%;
    text-decoration: none ;
    border-color: pink;
    border-width: 10px;
    border-style: solid; 
    backgound-color: pink;
}
