nav a{
    text-transform: uppercase;
    color: darkorchid;
    font-weight: 300;
    font-size: 100%;
    text-decoration: none ;
    border-color: pink;
    border-width: 10px;
    border-style: solid;
}

.imagem1 {
  width: 20%
}

.centralizar {
  text-align: center;
  displnav a: hover {
    color: orange;
    text-decoration: underline;
}ay: inline-block;
  vertical-align: top;
  margin: 0 1.5%;
  padding: 30px 20px;
  border-color: pink;
  border-width: 30px;
  border-style: solid;
  backgound-color: pink;
}

body {
  background-color: aquamarine;
  text-align:center;
}
nav a:hover {
    color: orange;
    text-decoration: underline;
}

footer {
    background-color: white;
}


