.imagem1 {
  width: 20%
}

.centralizar {
  text-align: center
}

body {
  background-color: aquamarine;
  text-align:center;
}

.lista li{
  display: inline-block;
  vertical-align: top;
  background-color: #FFFFFF;
  margin: o 1.5%;
  padding: 30px 20px;
  box-sizing: border-box;
}

